body {
    background-color: grey;
    color: rgb(245, 244, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    color: white;
    font-size: 25px;
    font-style: italic;
}