body {
    background-color: grey;
    color: rgb(245, 244, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    color: white;
    font-size: 25px;
    font-style: italic;
}

img {
    width: 100px;
    height: 100px;
}

button {
    margin: 0;
    padding: 0;
}

button p {
    color: red;
    font-weight: bold;
    padding: 5px 5px;
}

#choiceHuman, #choiceComputer {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    font-size: large;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


#roundContainer {
    display: flex;
    width: 400px;
    justify-content: space-between;
}